alembic==1.13.2
arabic-reshaper==3.0.0
asn1crypto
authlib==1.3.2
bleach
blinker
cachelib
certifi
cffi
chardet
charset-normalizer
click
cryptography
cssselect2
flask==3.0.3
flask-migrate
flask-session
flask-sqlalchemy
flask-wtf
greenlet
gunicorn
html5lib
idna
itsdangerous
jinja2==3.1.4
lxml
mako
markdown
markupsafe
msgspec
numpy
oscrypto
packaging
pandas
pdfkit
pillow
plotly
pycparser
pyhanko
pyhanko-certvalidator
pypdf
pypng
python-bidi
python-dateutil
python-dotenv
pytz
pyyaml
qrcode
reportlab
requests
six
sqlalchemy
svglib
tenacity
tinycss2
typing-extensions
tzdata
tzlocal
uritools
urllib3
webencodings
werkzeug
wtforms
xhtml2pdf
xlsxwriter
